@media only screen and (max-width:768px){
    header{
        background: url('../images/bg1.jpeg');
        background-size: cover;
    }
    .menu a{
        display: none;
    }
    .logo{
        padding-left: 50px;
    }
    .text{
        margin-left: 50px;
    }


    .about-left-col{
        flex-basis: 100%;
    }
    
    .about-left-col img{
        width: 100%;
        padding: 50px;
    }
    
    .about-right-col{
        flex-basis: 100%;
    }

    
.skills-left-col{
    flex-basis: 100%;
 
}
.skills-right-col{
    flex-basis: 100%;
}

progress{
    width: 80%;
}

.progress-div{
    width: 100%;
    margin: auto;
    padding-top: 100px;
}

.progress-div p{
    margin-bottom: 10px;
    font-size: 20px;
    padding-left: 20px;
    text-align: justify;
}

.services-box{
    flex-basis: 100%;
    margin-top: 20px;
}
.services-box img{
    width: 100%;
}

.contact-left-col{
    flex-basis: 100%;
}

.contact-right-col{
    flex-basis: 100%;
}

}